@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-prev::after, .slick-next::after {
  display: none;
  text-align: center !important;
  top: 0px !important;
  position: unset !important;
  width: 12px !important;
  height: 12px !important;
}

.slick-prev, .slick-next {
  width: 40px !important;
  height: 40px !important;
  background: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50px;
  /* z-index: 10 !important; */
  color: #1250dc !important;
  font-weight: 600 !important;
  border: 1px solid white !important;
  opacity: 1 !important;
}
