
html>body {
    font-family: "Lexend",sans-serif !important;
    font-weight: 500;
    width: 100%;
    margin: 0;
    color: #33343e;
    background: linear-gradient(180deg, #fbf2e7 0%, #ffffff 100%);
}